.ui-alert {
    background-color: #F2DEDE;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ui-alert-title {
    color: #AF4241;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}
.ui-alert-message {
    color: #AF4241;
    font-size: 22px;
}

.ui-accordion{
    margin: 10px;
}
.ui-accordion-title {
    background-color: rgba(0,0,0,.03);
    border: 1px solid #b9b9b9;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 5px 5px 0 0;
    color: #3b3b3b;
    font-size: large;
    font-weight: bold;
    padding: 15px;
}
.ui-accordion-content{
    margin: 0;
    padding: 15px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFF;
    color: black;
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
    border-bottom: 1px dashed #000;
    border-radius: 0 0 5px 5px;
    transition-duration: .20s;
}